{%
  set classes = [
    'feeds_feed',
    'feeds_feed--importer-' ~ feed.bundle|clean_class,
    feed.isActive() ? 'feeds_feed-active',
    view_mode ? 'feeds_feed--view-mode-' ~ view_mode|clean_class,
  ]
%}

<article{{ attributes.addClass(classes) }}>

  <strong>Item count:&nbsp;</strong><span>{{ item_count }}</span>
  <div{{ content_attributes.addClass('feeds_feed__content') }}>
    {{ content }}
  </div>
</article>
